<!doctype html>
<html lang="en" ng-app="marvel">
<head>
  <meta charset="utf-8">
  <title>Marvel Characters Explorer</title>
  <link rel="stylesheet" href="/styles/app.css"/>
  <script>
    window.MarvelApiKey = "<%= ENV['MARVEL_API_KEY'] %>"
  </script>
</head>
<body>
  <div id="main" ng-controller="CharactersCtrl">
    <aside>
      <ul>
        <li><a href="#" ng-click="next()">Next</a></li>
        <li><a href="#" ng-click="prev()">Prev</a></li>
      </ul>
      <ul >
        <li ng-repeat="character in characters" ng-click="select(character)">
          {{ character.name }}
        </li>
      </ul>
    </aside>
    <section ng-if="currentCharacter">
      <h1>{{ currentCharacter.name }}</h1>
      <img ng-src="{{ thumbnailFor(currentCharacter) }}" alt="{{ currentCharacter.name }}">
    </section>
  </div>
  <script src="/scripts/vendor/angular.min.js"></script>
  <script src="/scripts/vendor/angular-resource.min.js"></script>
  <script src="/scripts/controllers.js"></script>
  <script src="/scripts/services.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>
