<!doctype html>
<html lang="en" ng-app="marvel">
<head>
  <meta charset="utf-8">
  <title>Marvel Characters Explorer</title>
  <link rel="stylesheet" href="/styles/app.css"/>
  <script>
    window.MarvelApiKey = "<%= ENV['MARVEL_API_KEY'] %>"
  </script>
</head>
<body>
  <div id="main" ng-view></div>
  <script src="/scripts/vendor/angular.min.js"></script>
  <script src="/scripts/vendor/angular-resource.min.js"></script>
  <script src="/scripts/vendor/angular-route.min.js"></script>
  <script src="/scripts/controllers.js"></script>
  <script src="/scripts/services.js"></script>
  <script src="/scripts/filters.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>
