<aside>
  <nav>
    <ul>
      <input type="search" ng-change="search()" ng-model="searchTerm">
      <li><a href="#" ng-click="prev()">Prev</a></li>
      <li><a href="#" ng-click="next()">Next</a></li>
    </ul>
  </nav>
  <ul class="characters">
    <li ng-repeat="character in characters" ng-click="select(character)">
    {{ character.name }}
    <span class="comics-count">{{ character.comics.available }}</span>
    </li>
  </ul>
</aside>
<section class="current-character" ng-if="currentCharacter">
  <h1>{{ currentCharacter.name }}</h1>
  <img ng-src="{{ currentCharacter.thumbnail | urlForThumbnail }}" alt="{{ currentCharacter.name }}">
  <p>{{ currentCharacter.description }}</p>
</section>
